<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ng-class="{ active: isMenuActive('/') }" href="#/">Phoenix</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li ng-class="{ active: isMenuActive('/families') }"><a href="#/families/">Family Management</a></li>
                <!--<li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Persons<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Add</a></li>
                        <li><a href="#">Search</a></li>
                        <li><a href="#">Edit</a></li>
                    </ul>
                </li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-href="#/login" ng-click="logout();" ng-if="!userData.isUserLoggedIn"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li><a ng-href="#/login" ng-click="logout();" ng-if="userData.isUserLoggedIn"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>